html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Fira Code', monospace; 
    background: #1a1a1a; 
    color: #e0e0e0; 
    line-height: 1.6; 
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #22487a; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
    text-align: center;
    color:  #fff;
}

hr {
    display: none;
}

br {
    display: none;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #fff;
}

.input-title, 
textarea {
    background-color: #333; 
    color: #fff;
    width: calc(100% - 20px);
    max-width: 100%;
    padding: 10px; 
    border: 1px solid #555; 
    border-radius: 5px; 
    margin-bottom: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: vertical; 
    border-color: #fff;
    max-width: calc(100% - 20px);
}

input[type="text"]:focus,
textarea:focus {
    border-color: #3fa9f5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form-group {
    text-align: center;
}

.btn {
    background-color: #007acc;
    color: #FFFFFF;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
    display: inline-block;
}

.btn:hover {
    background-color: #007acc;
    transform: scale(1.05); 
}

.note {
    background-color: #2b2b2b;
    border: 1px solid #444;
    margin: 10px 0;
    padding: 15px; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.note::before {
    content: ''; 
    display: block;
    height: 2px;
    background-color: #fff; 
    margin: -15px -15px 15px; 
}

.note a {
    color: #3fa9f5;
    text-decoration: none; 
    transition: color 0.3s; 
}

.note:hover {
    color: #63d0fb;
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; 
}

.note-title {
    font-weight: bold; 
    font-size: 1.2em;
    color: #fff; 
    margin-top: 5px;
    margin-bottom: 5px; 
    margin-left: 10px;
}

.note-content {
    margin-left: 10px;
    color: #fff; 
}

form {
    margin: 0; 
    border: none; 
}

.btn {
    display: inline-block; 
    padding: 10px 15px; 
    background-color: #2a6199;
    color: #fff; 
    border: none;
    border-radius: 5px; 
    text-align: center;
    text-decoration: none; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.btn:hover {
    background-color: #3fa9f5; 
    transform: scale(1.05); 
}

.button-group {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 10px; 
}

.button-group a {
    margin-left: 0; 
}

.button-group form {
    margin-right: 10px;
}

.button-group form:last-child {
    margin-right: 0; 
}

.create-note-form {
    display: flex; 
    justify-content: center; 
    margin-top: 20px;
}

.create-note-form .input-title,
.create-note-form textarea {
    margin-right: 5px; 
}

@media (max-width: 600px) {
    .btn {
        width: 100%; 
        font-size: 18px; 
    }
}

@media (max-width: 600px) {
    .input-title,
    textarea {
        width: 100%;
        padding: 8px;
    }

    .btn {
        width: 100%; 
        margin-top: 10px;
        font-size: 18px;
    }

    .form-group {
        margin-right: 0; 
    }

    .form-group input {
        width: 100%;
    }

    .note {
        padding: 10px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        padding: 15px; 
    }

    .input-title,
    textarea {
        width: 95%;
    }

    .btn {
        width: auto; 
    }

    .note {
        margin: 15px 0; 
    }
}