html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Courier New', Courier, monospace; 
    background: linear-gradient(135deg,#b3e5fc,#fddaff);
    color: #000000; 
    line-height: 1.6; 
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 25px auto;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

h1, h2, h3 {
    text-align: center;
    color: #000000; /* Soft blue */
}

hr {
    display: none;
}

br {
    display: none;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #0288d1; /* Soft blue */
}

.input-title, 
textarea {
    flex-grow: 1;
    background-color: #b3e5fc; 
    color: #333;
    width: calc(100% - 20px); 
    max-width: 100%;
    padding: 10px; 
    margin: 10px;
    border: 1px solid #81d4fa; 
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
    transition: border-color 0.3s;
}

textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    resize: vertical;
    margin: 0; 
    max-width: calc(100% - 20px);
}

input[type="text"]:focus,
textarea:focus {
    border-color: #03a9f4;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group-1 {
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

.form-group-2 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group-2 .search-button {
    margin-left: 10px; 
}

.note {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #81d4fa;
    margin: 10px 0;
    padding: 15px; 
    cursor: pointer;
    border-radius: 8px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.note-checkbox {
    position: absolute;
    top: 10px;
    right: 10px; 
    accent-color: #3fa9f5;
}

.note::before {
    content: ''; 
    display: block;
    height: 2px;
    background-color: #3fa9f5; 
    margin: -15px -15px 15px; 
    cursor: pointer;
}

.note a {
    color: #3fa9f5;
    text-decoration: none;
    cursor: pointer; 
    transition: color 0.3s; 
}

.note:hover {
    color: #63d0fb;
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.note-title {
    font-weight: bold; 
    font-size: 1.2em;
    color: #000000; 
    margin-top: 5px;
    margin-bottom: 5px; 
}

.note-content {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: 10px;
    color: #333; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 3; 
}

.note-content-view {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: 10px;
    color: #333; 
}

form {
    margin: 0; 
    border: none; 
}

.btn, .btn:link, .btn:visited { 
    background-color: transparent;
    color: #0288d1;
    flex: 1 1 120px;
    width: 50px; 
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
    transition: transform 0.3s; 
    font-weight: bold; 
}

.btn:hover {
    color: #ffb4d2; 
    transform: scale(1.1); 
}

.btn-homepage {
    background-color: #0288d1; 
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    flex: 1 1 120px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, transform 0.3s; 
    font-weight: bold; 
    margin: 0 5px;
}

.btn-homepage:hover {
    background-color: #ffb4d2; 
    transform: scale(1.05); 
}

.button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    flex-wrap: wrap;
}
 
.button-group a {
    margin-left: 0;
}
 
.button-group form {
    margin-right: 10px;
}
 
.button-group form:last-child {
    margin-right: 0;
}

.button-group-trash {
    display: flex;
    justify-content: flex-start;
    color: #000;
    display: block;
    gap: 10px; 
    margin-top: 10px; 
    margin-bottom: 15px;
    position: relative;
}

.home-button {
    position: absolute;
    top: 0; 
    right: 0;
    margin: 10px;
    color: #0288d1;
    margin: 30px 30px;
    border: none;
    border-radius: 5px;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s; 
    font-weight: bold; 
}

.home-button:hover {
    color: #ffb4d2; 
    transform: scale(1.24); 
}

.search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px; 
    background-color: #0288d1; 
    color: #fff; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #ffb4d2;
}

.bookmark-container {
    position: absolute; 
    top: 10px;        
    right: 10px;       
    z-index: 10;      
}

.create-note-form {
    position: absolute; 
    top: 20px; 
    right: 20px; 
}

.create-note-form .input-title,
.create-note-form textarea {
    margin-right: 5px; 
}

.create-note-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.create-note-form .btn {
    background-color: #0288d1;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-note-form .btn:hover {
    background-color: #ffb4d2; 
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    cursor: pointer;
    font-size: 24px; 
}

.menu-content {
    display: block; 
    position: absolute; 
    background-color: white; 
    border: 1px solid #367fff; 
    z-index: 1; 
    margin-top: 5px; 
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
}

.menu-icon span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #639ffe; 
    margin: 5px 0;
    transition: 0.3s;
}

.menu-toggle:checked + .menu-icon span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle:checked + .menu-icon span:nth-child(2) {
    opacity: 0;
}

.menu-toggle:checked + .menu-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.drawer {
    position: fixed; 
    top: 0; 
    left: -250px; 
    width: 250px; 
    height: 100%; 
    background-color: #f9f9f9; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease; 
    z-index: 1000; 
    padding-top: 60px; 
}

.menu-toggle:checked ~ .drawer {
    left: 0;
}

.drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.drawer ul li {
    padding: 15px;
}

.drawer ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
}

.drawer ul li a:hover {
    color: #3fa9f5;
}

.nav-link {
    display: block; 
    padding: 10px 5px; 
    color: #000; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #ffb4d2;  
    color: #000;
}

.nav-link.active {
    background-color: #66c2ff;
    color: #000; 
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    z-index: 10;
}

.logo-img {
    width: 60px; 
    height: 60px;
    object-fit: cover; 
    transition: transform 0.3s; 
}

.logo:hover .logo-img {
    transform: scale(1.26); 
}

.no-notes {
    text-align: center;
    margin-top: 30px;
    font-size: 18px;
    color: #666;
}

.no-notes-message {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.no-notes-message h2 {
    color: #0288d1;
}

.no-notes-message p {
    color: #666;
    margin: 10px 0;
}

.no-notes-message .btn {
    display: inline-block;
    background-color: #0288d1;
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.no-notes-message .btn:hover {
    background-color: #3498db;
}

@media (max-width: 600px) {
    .container {
        margin: 10px; 
        padding: 10px; 
    }

    hr {
        display: none;
    }
    
    br {
        display: none;
    }

    .input-title,
    textarea {
        width: calc(100% - 20px);
    }

    .note {
        padding: 10px; 
        font-size: 14px; 
    }

    .btn, .btn-homepage {
        width: 100%; 
        height: 40px;
        font-size: 20px; 
    }

    .create-note-form .btn {
        padding: 5px 10px;
        font-size: 14px; 
    }

    .button-group {
        flex-direction: row; 
        align-items: stretch; 
    }
}
